@import './base/reset';

// universal
body {
  font-family: 'Hubballi', cursive;
  height: 100vh;
  background: url('../images/backgroundImage.png') no-repeat center/100%;
  background-size: cover;
  text-align: center;
  color: wheat;
}

button,
label {
  font-family: 'Hubballi', cursive;
  font-size: 24px;
}

button i {
  margin-right: 6px;
  font-size: 16px;
  color: wheat;
  pointer-events: none;
}

// header
.title {
  font-size: 60px;
  letter-spacing: 2px;
  padding: 70px 0 20px 0;
}

// form
.descriptuon {
  display: inline-block;
  padding-bottom: 8px;
  font-size: 28px;
}

.input-text {
  display: inline-block;
  background: none;
  border-bottom: 1px solid wheat;
  outline: none;
  color: wheat;
}

.submit-btn {
  color: wheat;
}

// clear button
.clear-btn {
  margin-top: 20px;
  color: wheat;
}

// todo list container
.task-container {
  margin-top: 40px;
}

// todo item
.todo-item {
  margin-bottom: 15px;
}

.task {
  margin-right: 6px;
  margin-bottom: 20px;
}

label {
  font-size: 24px;
  margin-right: 6px;
  border-bottom: 1px solid wheat;
}

.edit-input {
  display: none;
  background: none;
  outline: none;
  border-bottom: 1px solid wheat;
  color: wheat;
}

// edit button
.edit {
}

.edit-confirm {
  display: none;
}

.edit-cancel {
  display: none;
}

.delete {
}
